.film__list {
  list-style: none;
  padding: 50px;
  margin: 0;
}

.film__item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  margin-bottom: 10px;
  transition: color, 250ms linear;
}

.film__item:hover,
.film__item:focus {
  border: 1px solid blue;
}

.film__link {
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  transition: color, 250ms linear;
}

.film__link:hover,
.film__link:focus {
  color: blue;
}
