.film__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.film__item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.film__title {
  text-decoration: none;
  font-size: 20px;
  color: #333;
  margin-top: 0;
  margin-bottom: 5px;
  transition: color, 250ms linear;
}

.film__title:hover,
.film__title:focus {
  color: blue;
}
